* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 50;
}

.inner {
	margin: 0 auto;
	max-width: 920px;
}
.logo img {
	margin-right: 15px;
}
.logo_title_top {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #444444;
}
.logo_title_bottom {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #444444;
}
.navbar_link {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding: 15px;
	color: #444444;
	transition: all .3s;
}
.navbar_link:active {

}
.navbar_link:hover {
	background-color: #1bbc9b;
	color: #fff;
}
.navbar_link_active {
	
}
.header .inner {
	padding: 0 40px 0;
	height: 95px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-left: 2px;
}
.sub_header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 95px 0 77px;
	width: 100%;
	height: 100vh;
	background-image: url(../img/sub_header.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 55px;
	color: #fff;
	text-align: center;
}
h1 span {
	font-weight: 700;
}
.sub_header_span {
	max-width: 580px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #d4d2d0;
}
.sub_header_btn {
	background-color: rgba(27, 188, 155, 0.3);
	width: 122px;
	height: 37px;
	margin: 50px auto 40px;
	transition: all .3s;
}
.sub_header_btn:hover {
	background-color: #1bbc9b;
	box-shadow: 4px 4px 30px rgba(255,255,255,0.3);

}
.sub_header_img_arow img:hover {
	animation-play-state: paused;
}

.sub_header_img_arow img {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 0;

	animation-name: arrow-go;
	animation: arrow-go .5s linear infinite alternate 0s forwards;
}
@keyframes arrow-go {
	0% {
		top: 0;
	}
	100% {
		top: 50px;
	}
}
button {
	background-color: transparent;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	
}
.btn_all {
	width: 43px;
	height: 37px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
}
.btn_web {
	margin: 0 10px;
	width: 114px;
	height: 37px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;

}
.btn_graphic {
	margin-right: 10px;
	width: 144px;
	height: 37px;font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;

}
.btn_flat {
	width: 115px;
	height: 37px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;

}
h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: #444444;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 50px;
}
.sub_span {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #444444;
	display: block;
	text-align: center;
}
.section_1_btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 35px 10px 45px;
}
.section_1_btn button {
	background-color: #50b392;
}
.section_1_btn button:hover {
	transition: all .3s;
	box-shadow: 4px 4px 20px rgba(0,0,0,0.8);
}

.section_1_columns {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 25px;
}
.col_all {

	cursor: pointer;
	max-width: 170px;
	max-height: 180px;
	position: relative;
	
}
.col_all:hover .hover_block {
	display: block;
	
}

.hover_block {
	position: absolute;
	top: 0;
	left: 0;
	width: 170px;
	height: 180px;
	background-color: rgba(80, 179, 146,.75);
	border-radius: 50%;
	display: none;
}
.col_all img {
	width: 170px;
	height: 180px;
}
.over_col_all {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex: 0 0 25%;
	margin-bottom: 35px;
	
}
.hover_block_span_top {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}
.hover_block_span_bottom {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	position: relative;
    left: 15px;
    top: 5px;
}
.search_box {
	z-index: 2;
	transition: 1s;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	top: 30px;
	left: 20px;
	background-color: #8d8d8d;
	height: 45px;
	border-radius: 45px;
	
}
.search_btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f0f0f0;
	width: 43px;
	height: 45px;
	border-radius: 50%;
	background-color: #2f3640;
	text-decoration: none;
}
.search_txt {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: .4s;
	line-height: 40px;
	width: 75px;
}
.search_box:hover .search_txt {
	width: 75px;
	padding: 0 5px;
}
.search_box:hover .search_btn {
	background-color: 2b2b2b;
}
.hover_txt {
	position: relative;
    top: 95px;
    left: 32px;
}
.search_box:hover {
	left: 20px;
}

.section_2 {
	background-color: #16a086;
	padding: 0 30px 75px;
}
.section_2_title,
.section_2_subtitle {
	color: #fff;
}
.section_2_avatar {
	max-width: 780px;
	margin: 40px auto 0;
}
.inner_section_2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0px -30px;
}
.column {
	flex: 0 1 33.333%;
	padding: 0 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.sub_ava {
	max-width: 220px;
}
.sub_ava img {
	display: block;
	width: 100%;
}
.item {
	position: relative;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	transition: all .5s;
}
h3 {
	padding-top: 15px;
	color: #444444;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}
.sub_h3 {
	padding-top: 5px;
	color: #444444;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	
}
.sub_h3_span {
	line-height: 20px;
	padding: 17px 10px;
	color: #444444;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	flex: 1 1 auto;
}
.social_hover {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	position: absolute;
	top: -9994px;
	left: 27px;
	background-color: rgba(22, 160, 134,.8);
	width: 180px;
	max-height: 48px;
	

}
.social_hover img {
	max-width: 100%;}

.item:hover .social_hover {
	top: 94px;
}
.sociale_block {
	flex: 0 0 25%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 0;
	height: 40px;
	overflow: hidden;
}
.sociale_block:hover {
	box-shadow: 4px 4px 10px #000;
}
.contact {
	padding: 0 30px 60px;
	background-color: #ecf0f1;
}
.form_contact {
	max-width: 460px;
}
input {
	outline: none;
	outline: none;
	cursor: pointer;
}
textarea {
	outline: none;
}
.form_contact {
	max-width: 460px;
}
.submit {
	transition: all .3s;
	display: block;
}
.submit:hover {
	box-shadow: 4px 4px 10px #444444;
}
input,textarea {
	border: 2px solid #bec3c7;
	color: #999999;
	padding: 0 0 0 20px;
}
.form_name,
.form_email {
	width: 220px;
	height: 47px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
}
.form_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
textarea {
	padding-top: 20px;
	margin: 22px 0 19px 0;
	width: 100%;
	height: 153px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
}
.submit {
	border: none;
	background-color: #1bbc9b;
	color: #fff;
	width: 114px;
	height: 37px;
	padding: 0px;
	margin-left: 346px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;

}
h4 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #444444;
	margin: 0 0 20px 0;

}
.conteiner_form {
	margin: 50px auto 0;
	max-width: 940px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.inform {
	padding: 0 20px;
}
.map,
.phone,
.fax,
.info {
	margin: 20px 0 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.map img,
.phone img,
.fax img,
.info img {
	height: 100%;
	padding: 3px 5px 0px 0px;
}

.map_text, 
.phone_text,
.fax_text,
.info_text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #444444;
}

.arrow_fix {
	max-width: 44px;
	height: 44px;
	background-color: #1bbc9b;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer {
	max-width: 100%;
	height: 87px;
	background-color: #2d3e50;
}
footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
footer p {
	margin: 0 auto;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;

}
.arrow_wrap {
	width: 44px;
	height: 44px;
	position: fixed;
	right: 42px;
	bottom: 20px;
}


@media (max-width: 800px) {
	.social_hover {
		left: 12px;
	}
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header_burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header_burger:before,
	.header_burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;

	}
	.header_burger:before {
		top: 0;
	}
	.header_burger:after {
		bottom: 0;
	}
	.header_burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_burger.active span {
		transform: scale(0);
	}
	.header_burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all .3s ease 0s;
	}
	.navbar {
		overflow: auto;
		position: fixed;
		top: 80px;
		right: 100%;
		width: 100%;
		height: 100%;
		background-color: #4d4d4d;
		transition: all .3s ease 0s;

	}
	.navbar.active {
		right: 0;
	}
	.navbar_link {
		color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.navbar_link {
		transition: .5s;
	}
	.navbar_link:hover {
		padding-left: 30px;
	}
	.header .inner {
		height: 80px;
	}
	.inform {
		margin: 20px 0 0 0;
	}
	.column {
		padding: 0px 10px;
	}
	.inner_section_2 {
		margin: 0px -10px
	}
	.sub_ava {
		max-width: 100%;
	}

}
@media (max-width: 680px) {
	.inner_section_2 {
		display: block;
		flex-wrap: wrap;
	}
	.section_2 {
		padding: 0 30px 30px;
	}
	.item {
		margin: 0 0 30px 0;
	}
	.form_contact {
		margin: 0 0 0 10%;
	}
	h4 {
		font-size: 25px;
	}
	.inform {
		margin: 20px 0 0 30%;

	}
}
@media (max-width: 430px) {
	.navbar_link {
		font-size: 26px;
	}
	.form_contact {
		margin: 0;
		width: 100%;
	}
	.submit  {
		margin: 0 auto;
	}
	
	.form_name, .form_email {
		max-width: 175px;
	}
	input, textarea {
		padding: 0 0 0 10px; 
	}
	textarea {
		margin: 10px 0 10px 0;
		height: 120px;
	}
	.form_name, .form_email {
		height: 35px;
	}
	.inform {
		margin: 20px 0 0 10%;
	}
	.arrow_wrap {
		right: 20px;
		opacity: .5;
	}
	.arrow_wrap:hover {
		opacity: 1;
	}
	.header .inner {
		height: 60px;
	}
	.sub_header {
		padding: 60px 0 0px;
	}
	.sub_header_btn {
		margin: 10px auto 0px;
	}
	@keyframes arrow-go {
		0% {
			top: 0;
		}
		100% {
			top: 5px;
		}
	}
	.social_hover {
		width: 280px;
	}
	h2 {
		padding-top: 10px;
		margin-bottom: 0;
	}
	.section_1_btn {
		margin: 20px 10px 20px;
	}
	.section_1_columns {
		padding-bottom: 0;
	}
	.section_2_avatar {
		margin: 20px auto 0;
	}
	.section_2 {
		padding: 0 30px 10px;
	}
	.conteiner_form {
		margin: 20px auto 0;
	}
	.contact {
		padding: 0 30px 20px;
	}
	footer {
		height: 40px;
	}
	.column {
		padding: 0 5px;
	}
	h3 {
		padding: 0;
	}
	.sub_h3 {
		padding: 0;
	}
	.sub_h3_span {
		padding: 0px 10px;
	}
	.sub_ava img {
		padding: 0 120px;
	}
	.sub_ava img:active,
	.sub_ava img:hover {
		padding: 0;
	}
	.navbar {
		top: 60px;
		padding-top: 30px;
	}

}
@media (max-width: 376px) {
	.form_name, .form_email {
		max-width: 145px;
	}
}
@media (max-width: 321px) {
	.form_name, .form_email {
		max-width: 120px;
	}
	footer p {
		padding-left: 10px;
		font-size: 13px;
	}
	.inform {
		margin: 20px 0 0 0%;
	}
	.social_hover {
		width: 250px;
		left: 15px;
	}
	.section_2 {
		padding: 0 15px 10px;
	}
	.item {
		margin: 0 0 15px 0;
	}
	.btn_all {
		width: 60px;
	}
	.sub_header {
		padding: 70px 0 0px;
	}
	h1 {
		font-size: 35px;
	}
	.sub_header_span {
		font-size: 12px;
	}
	.logo_title_bottom {
		font-size: 12px;
	}
	
	h2 {
		font-size: 22px;
	}
	.sub_span {
		font-size: 12px;
	}
	h4 {
		font-size: 16px;
		margin: 0 0 0 40px;
	}
	.map, .phone, .fax, .info {
		margin: 15px 0 0 0;
	}
	.header .inner {
		padding: 0 20px 0;
	}
	.navbar_link {
		font-size: 26px;
	}
}


























