* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header_container {
	width: 100%;
	/*height: 100vh;*/
	background-image: url(../img/bgc-header.png);
	padding: 0 0 20px 0;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/for-menu.png) no-repeat;
	background-size: cover;
	z-index: 4;
}
.inner {
	max-width: 1172px;
	margin: 0 auto;
	padding: 0 20px;
}
.header_body {
	position: relative;
	/*z-index: 2;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: 100px;
}
.header_logo {
	z-index: 4;
	position: relative;
	flex: 0 0 auto;
}
.header_logo img {
	display: block;
	max-width: 100%;
	height: 100%;
}
.header_burger {
	display: none;
}
.header_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	z-index: 4;
}
.header_list li {
	list-style: none;
	margin: 0 0 0 40px;
}



.header_link {
	position: relative;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #4d4d4d;
	text-decoration: none;
	/*text-transform: uppercase;*/
}
.header_link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;	
	background-color: #4d4d4d;
	transition: all 0.2s ease 0s;
	transform: scaleX(0);
}
.header_link:hover:before {
	transform: scaleX(1);
}
.section_hero {
	padding: 100px 0 0 0;
}

.hero_text {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 90px;
	color: #4d4d4d;
}
.hero_subtext {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: rgba(77, 77, 77,0.54);
}



.btn_left,
.btn_right {
	text-transform: uppercase;
	width: 160px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #4d4d4d;
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #4d4d4d;
	letter-spacing: 1px;
	cursor: pointer;
    outline: none;
    margin: 30px 0 0 0;
}
.btn_left {
	margin-right: 15px;
}
.btn_left:hover,
.btn_right:hover {
	background-color: #fff;
	border: none;
	box-shadow: 4px 4px 20px #000;
}
.hero_img img {
	max-width: 100%;
}
.header_burger {
	display: none;
}
.section_hero .inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero_content {
	flex: 0 0 auto;
}

.about {
	margin: 109px 0 124px;
}
.about_body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.about_title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 1 480px;
}
.about_subtitle p {
	text-align: left;
}




.title:before {
	content: '';
	position: relative;
	bottom: 10px;
	left: 0;
	width: 60px;
	height: 4px;
	background-color: rgba(122, 122, 122,.6);
}
.about_img {
	flex: 0 0 50%;
	max-width: 569px;
	max-height: 443px;
	background-color: #f2f2f2;
	margin: 0 0 0 20px
}
.about_img img {
	max-width: 100%;
}
.subtitle {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 46px;
	color: rgba(122, 122, 122,.8);
}
.about_content {
	line-height: 26px;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #4d4d4d;
}
.about_btn {
	display: block;
	max-width: 245px;
	height: 50px;
	color: #4d4d4d;
	background-color: transparent;
	border: 1px solid #4d4d4d;
	margin: 30px 0 0 0;
	outline: none;
	cursor: pointer;
}
.about_btn:hover {
	box-shadow: 4px 4px 20px #4d4d4d;
	border: none;
}
.service {
	background-color: #f6f6f6;
    padding: 120px 0 140px 0;
}
.service_body:before,
.portfolio_subtitle:before,
.testimonials_subtitle:before {
	display: block;
	margin: 0 auto;
}
.service_subcontent p {
	/*line-height: 26px;*/
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 24px;
	color: #4d4d4d;
	text-align: center;
}
.service_content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.service_subcontent {
	flex-wrap: wrap;
	flex: 0 1 33.333%;
	margin: 65px 0 0 0;
	place-self: baseline;
}
.service_subcontent img {
	display: block;
	margin: 0 auto 10px;
}
.portfolio_subcontent {
	max-width: 367px;
	padding: 15px;
}
.portfolio_subcontent:hover {
	box-shadow: 4px 4px 20px #4d4d4d;
}
.portfolio_content {
	margin: 25px 0 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.portfolio_subcontent img {
	width: 100%;
}
.portfolio_btn {
	cursor: pointer;
	outline: none;
	border: none;
	background-color: transparent;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
	width: 190px;
	height: 50px;
	color: #4d4d4d;
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.portfolio_btn:hover {
	background-color: #fff;
	box-shadow: 4px 4px 20px #4d4d4d;
}
.portfolio_bodi {
	padding: 0px 0 120px 0;
}
.portfolio{
	background-color: #f6f6f6;
}

.testimonials_subtitle {
	margin: 0 0 50px 0;
}
.testimonials {
	padding: 120px 0 120px 0;
}
.testimonials_inslider {
	margin: 0 auto;
	max-width: 955px;
	border: 1px solid #000;
	padding: 80px 70px 100px 120px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.testimonials_img {
	flex: 0 0 159px;
    margin: 0 30px 0 0;
    /* max-width: 159px; */
    height: 159px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.testimonials_img img {
	display: block;
    width: 100%;
    height: auto;
}

.text_title {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: rgba(55, 55, 55,.8);
	text-transform: uppercase;
}
.text_subtitle {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-style: italic;
	color: rgba(55, 55, 55,.8);
	text-transform: uppercase;
}
.testimonials_text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.text_subtitle {
	margin: -15px 0 0 0;
}
.text_content {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgba(122, 122, 122,.6);
	text-transform: uppercase;
	line-height: 26px;
}
.funfact {
	background-color: #f6f6f6;
}
.funfact_number {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 24px;
	text-transform: uppercase;
	color: rgba(54, 54, 54,.9);
}
.funfact_subtext {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(54, 54, 54,.9);
}
.fun img {
	display: block;
	margin: 0 0 25px 0;
}
.funfact_body {
	padding: 50px 0 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.fun {
	flex: 0 1 25%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	place-self: flex-end;
}
.funfact_number {
	margin: 0 0 10px 0;	
}

.footer {
	background-image: url(../img/footer/contact-bg.png);
}
.footer_bottom {
	position: relative;
	height: 84px;
}
.bottom_text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 30px;
}
.bottom_text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
}
.bottom_sociale {
	position: absolute;
	top: 30px;
	left: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.subsoc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
    height: 27px;
    background-color: #ccc;
    margin: 0 8px 0 0;
}
.subsoc:hover {
	background-color: #0084b4;
}


.up_btn {
	position: fixed;
	right: 30px;
	bottom: 190px;
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.up_btn a {
	width: 100%;
	height: 100%;
	outline: none;
}
.up_btn a img {
	width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.up_btn:hover {
	box-shadow: 4px 4px 20px #4d4d4d;
}

.footer_contact {
	padding: 140px 0 0 0;
}
.footer_subtitle {
	color: rgba(240, 240, 240,.9);
}


.footer_subtitle:before {
	display: block;
	left: calc(50% - 30px);
	background-color: rgba(240, 240, 240,.9);
}
.footer_form {
	margin: 66px auto 58px;
	max-width: 770px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.footer_input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.footer_name,
.footer_email {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgba(77, 77, 77,.8);
	width: 368px;
	height: 57px;
	padding: 0 0 0 10px;
	outline: none;
	border: none;
	text-transform: capitalize;

}
.footer_name {
	margin: 0 10px 0 0;
}
.footer_email {

}
.footer_message {
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: rgba(77, 77, 77,.8);
	height: 207px;
	margin: 30px 0;
	padding: 20px 0 0 10px;
	outline: none;
	border: none;
	text-transform: capitalize;
}
.footer_send {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: rgba(77, 77, 77,1);
	background-color: #fff;
	display: block;
	margin: 0 auto;
	width: 123px;
	height: 57px;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}
.footer_send:hover {
	box-shadow: 4px 4px 20px #4d4d4d;
}
.slick-slider {
	position: relative;

}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slider .slick-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0 4px;
}
.slider .slick-dots button {
	font-size: 0;
	width: 13px;
	height: 13px;
	border: 1px solid #000;
	background-color: transparent;
	outline: none;
}
.slider .slick-dots li.slick-active button {
	background-color: #000;
	outline: none;
	
}
.slider .slick-active {
	outline: none;
}
.slider .slick-slide {
	outline: none;
}

.slider .slick-dots {
	position: absolute;
	bottom: 40px;
    left: 50%;
}








@media (max-width: 824px) {
	.footer_form {
		margin: 30px auto 30px;
	}
	.footer_contact {
    	padding: 40px 0 0 0;
	}
	.about {
    	margin: 40px 0 40px;
	}
	.service {
    	padding: 40px 0 60px 0;
	}
	.service_subcontent {
		margin: 40px 0 0 0;
	}
	.testimonials {
    	padding: 40px 0 40px 0;
	}
	.text_content {
		line-height: 20px;
		font-size: 14px;
	}
	.testimonials_inslider {
		padding: 60px 60px 80px 60px;
	}
	.portfolio_bodi {
    	padding: 0px 0 40px 0;
	}
}

@media (max-width: 813px) {
	.about {
		margin: 30px 0 30px;
	}
	.text_content {
		font-size: 12px;
		line-height: 20px;
	}
	.portfolio_bodi {
    	padding: 0px 0 20px 0;
	}
	.service {
		padding: 40px 0 40px 0;
	}
	.testimonials {
		padding: 40px 0 40px 0;
	}
	.testimonials_inslider {
		padding: 60px 60px 80px 60px;
	}
	.footer_form {
		margin: 30px auto 30px;
	}

}
@media (max-width: 769px) {
	.about {
		margin: 30px 0 30px;
	}
	.text_content {
		line-height: 16px;
	}
	.footer_contact {
    	padding: 40px 0 0 0;
	}
	.slider .slick-dots {
		bottom: 27px;
	}

}


@media (max-width: 769px) {
	.testimonials {
    	padding: 40px 0 40px 0;
	}
	.portfolio_bodi {
    	padding: 0px 0 40px 0;
	}
	.service_subcontent {
    	
    	flex: 0 1 50%;
    	margin: 40px 0 0 0;
    	
	}
	.service {
    	padding: 40px 0 60px 0;
	}
	.portfolio_bodi {
    	padding: 0px 0 20px 0;
	}
	body.lock {
		overflow: hidden;
	}
	.header_list {
		display: block;
	}
	.header_list li {
		margin: 30px 0px 30px 20px;
	}
	.header_list li:hover {
		margin: 30px 0px 30px 30px;
	}
	.header_body {
		height: 60px;
	}
	.header_burger {
		z-index: 4;
	    display: block;
	    position: relative;
	    width: 30px;
	    height: 20px;

	}
	.header_burger:before,
	.header_burger:after {
		z-index: 2;
		content: '';
		position: absolute;
		background-color: #4d4d4d;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before {
		top: 0;
	}
	.header_burger:after {
		bottom: 0;
	}
	.header_burger span {
		z-index: 2;
		position: absolute;
		background-color: #4d4d4d;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;

	}
	.header_menu {
		padding: 50px 10px 20px 10px;
		z-index: 3;
		position: fixed;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: #000;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header_menu.active {
		top: 0;
	}
	.header_burger.active span {
		transform: scale(0);
	}
	.header_burger.active:before {
		transform: rotate(45deg);
		top: 9px;

	}
	.header_burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;

	}
	.header_link {
		font-size: 24px;
	}
	.hero_text {
		font-size: 70px;
	}
	.hero_subtext {
		font-size: 20px;
	}
	.btn_left,
	.btn_right {
		width: 160px;
		height: 50px;
		font-size: 16px;
		letter-spacing: 1px;
	    margin: 15px 0 0 0;
	}
	.btn_left {
		margin-right: 15px;
	}
	.about_body {
		/*flex-direction: column;*/
	}
	.testimonials_inslider {
    	padding: 40px 40px 60px 40px;
    }
    .footer_form {
		margin: 30px auto 30px;
	}
	
}

@media (max-width: 641px) {
	.footer_bottom {
    	height: auto;
    	padding: 20px 0 40px 0;
	}
	.bottom_sociale {
    	position: static;
    	justify-content: space-around;
	}
	.slider .slick-dots {
		left: 45%;
	}
}


@media (max-width: 600px) {
	.subtitle {
		font-size: 40px;
	}
	.about_content {
		font-size: 14px;
	}
	.about {
		margin: 30px 0 30px;
	}
	.service_subcontent {
		flex: 0 1 50%;
	}
	.service_subcontent p {
		font-size: 16px;
	}
	.service {
    	padding: 40px 0 70px 0;
	}
	.fun {
    	flex: 0 1 50%;
    	padding: 20px;
    }
    .funfact_body {
    	flex-wrap: wrap;
    	padding: 20px 0 20px;
    }
    .text_title {
    	font-size: 26px;
    }
    .text_subtitle {
    	font-size: 10px;
    }
    .text_content {
    	font-size: 10px;
    }
    .testimonials_inslider {
    	padding: 40px 40px 60px 40px;
    }
	.bottom_text {
		padding-top: 20px;
		margin: 0 0 20px 0;
	}
	.footer_form {
		margin: 30px auto 30px;
	}
}
@media (max-width: 415px) {
	.section_hero .inner {
		flex-direction: column-reverse;
	}
	.hero_img img {
		margin: 0 -50px;
	}
	.hero_text {
		font-size: 60px;
	}
	.hero_subtext {
		text-align: center;
	}
	.hero_btn {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.about_body {
		flex-direction: column;
	}
	.about_btn {
		width: 245px;
		margin: 30px auto 0;
	}
	.about_img {
		margin: 0;
	}
	.about {
    	margin: 0px 0 30px;
	}
	.about_title {
		flex: 0 1 440px;
	}
	.title:before {
		margin: 0 auto;
	}
	.subtitle {
		margin: 0 auto;
	}
	.testimonials_inslider {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonials_img {
		margin: 0;
	}
	.text_title {
		text-align: center;
	}
	.text_subtitle {
		margin: 0;
		text-align: center;
		margin: 0 0 10px 0;
	}
	.footer_subtitle:before {
		left: 0;
	}
	.footer_input {
		display: block;

	}
	.footer_name {
    	margin: 0 0px 20px 0;
	}
	.footer_name, .footer_email {
		width: 100%;
	}
	.footer_message {
		height: 150px;
	}
	.footer_form {
		margin: 30px auto 30px;
	}
	.slider .slick-dots {
    	left: 42%;
	}


}
@media (max-width: 376px) {
	.funfact_subtext {
		font-size: 14px;
	}
	.funfact_number {
		font-size: 18px;
	}
	.hero_text {
    	font-size: 54px;
    	text-align: center;
    	margin: 0 0 5px 0;
	}
	.hero_subtext {
		font-size: 18px;
	}
	.subtitle{
		font-size: 36px;
	}
	.about_content {
		font-size: 14px;
	}
	.about_title {
		flex: 0 1 420px;
	}
}
@media (max-width: 340px) {
	.hero_text {
    	font-size: 46px;
    	text-align: center;
	}
	.hero_subtext {
		font-size: 14px;
	}
	.btn_left,
	.btn_right {
		width: 130px;
		height: 40px;
	}
	.fun {
    	flex: 0 1 100%;
    	padding: 10px 0 10%;
    }
    .slider .slick-dots {
    	left: 38%;
	}

}






































